{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>
<body>

    <div class="main">
{% block content %}


{% endblock content %}

    </div>
    <!-- JS -->
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="  {% static 'js/main.js' %} "></script>
</body>
</html>
