{% extends "head.html" %}
{% load static %}
{% block content %}

    <section class="sign-in">
        <div class="form-title">
            <center><h1> You're Welcome! </h1></center>
        </div>
    </section>


{% endblock content%}